{{> header}}
  <div class="gradient-bar"></div>
  <div class="content">
    <div class="main-wrapper">
      <section class="sect-a blogs-page">
        <ul>
          {{#each blogs}}
          <li class="blogs-thumb-list">
            <img src="http://localhost:3000/blogs/{{this._id}}/img" alt="{{this.title}}">    
            <div class="blogs-thumb-overlay">
              <p class="blogs-thumb-date">Posted: {{getDate this.createdAt}}</p>
              <div class="thumb-center">
                <h1>{{this.title}} <hr></h1>
                <div><a href="/blogs/{{this._id}}">Read Article</a></div>
              </div>              
              <div class="blogs-thumb-tags"> 
                {{#each tags}}       
                <span><i class="fas fa-tags"></i>{{this}}</span>
                {{/each}}
              </div>   
            </div>
          </li>
          {{/each}}
        </ul>
      </section>
      <section class="sect-b blogs-page ">

      </section>
    </div>
  </div>
{{>footer}}