{{> header}}

  <div class="content" data-page="home">
    <div class="gradient-bar"></div> 
    <div class="main-wrapper">
      <section class="sect-a home-page-feature-project">
        <h1>{{featuredProject.name}}<img src="/img/crane.png" alt="Crane Image"></h1>
        <p>I'm currently building and breaking, and building again (aka "developing") this here site..</p>
        <div class="featured-prj-wrapper">
          <div class="img-featured-prj-wrapper">
            <img class="img-featured-prj" src="http://localhost:3000/projects/{{featuredProject._id}}/img" alt="{{featuredProject.name}}">    
          </div>
          <div class="home-page-feature-details">
            <p>About it: {{featuredProject.shortDescription}}</p>
            <p><span class="using">Built With:</span> {{featuredProject.tools}}</p>
            <div class="more-info-div"><span class="btn1"><a href="/projects/{{featuredProject.id}}/project"> More Info</a></span></div>
          </div>  
        </div>    
      </section>
      <section class="sect-b home-page-projects">
        <i class="fas fa-project-diagram"></i>
        <h1 class="section-title"> Other Works:</h1>
        <p>Or have a look through some of my other work,  in various states of completion!</p>
        {{> gridService  cont = projects}}
      </section>
      <section class="sect-c home-page-blogs">
        <i class="far fa-newspaper"></i>
        <h1 class="section-title">Articles</h1>        
        {{> gridService cont = blogs}}
      </section>
    </div>
  </div>
{{>footer}}
  <script src="/js/app.js"></script>
  <script src="/js/funky.js"></script>
  <script src="/js/gridService.js"></script>
</body>
</html>