
<i class="fas fa-info-circle" title="Click for more details"></i>
<a href="">
  <img src="/projects/{{this._id}}/img" alt="{{this.name}}">
</a>
<div class="prj-thumb-overlay">
  <a href="/projects/{{this.id}}/project">
    <h2>{{this.name}}</h2>
    <hr />
    <p>{{this.shortDescription}}</p>
    <p><span class="using">Built With:</span> {{this.tools}}</p>
  </a>
</div>



